<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!--<add key="mpqPath" value="f:\\temp\\mpq\\" />-->
    <add key="mpqPath" value="F:\games\World of Warcraft\Data\common-2.mpq" />
    <add key="useMpq" value="true"/>
    <add key="defaultContinent" value="0" />
    <add key="defaultMapX" value="36" />
    <add key="defaultMapY" value="49" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>