<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CASCExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <CASCExplorer.Properties.Settings>
      <setting name="WowPath" serializeAs="String">
        <value>D:\projects\wow\fs\</value>
      </setting>
    </CASCExplorer.Properties.Settings>
  </userSettings>

  <appSettings>
    <!--<add key="mpqPath" value="f:\\temp\\mpq\\" />-->
    <add key="mpqPath" value="F:\games\World of Warcraft\Data\common-2.mpq" />
    <add key="useMpq" value="true"/>
    <add key="defaultContinent" value="0" />
    <add key="defaultMapX" value="36" />
    <add key="defaultMapY" value="49" />
  </appSettings>
</configuration>